<div class="container">
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
    
          <!-- Portfolio Section Heading -->
          <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Historial de compras</h2>
    
          <!-- Icon Divider -->
          <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
            
              <fa-icon [icon] = "faStar">
            
              </fa-icon>
              <!--i class="fas fa-star"></i-->
            </div>
            <div class="divider-custom-line"></div>
          </div>
    
          <!-- Portfolio Grid Items -->
      
          <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">No. Factura</th>
                  <th scope="col">Nombre Giftcard</th>
                  <th scope="col">No. Tarjeta</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Total</th>
                
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let compra of compras; let indice = index">
                  <th scope="row">{{indice + 1}}</th>
                  <td>{{compra['id_factura']}}</td>
                  <td>{{compra.Tarjeta}}</td>
                  <td>{{desencriptar(compra['no_tarjeta'])}}</td>
                  <td>{{compra.fecha}}</td>
                  <td>{{compra.precio}}</td>
                  <td>{{compra.cantidad}}</td>
                  <td>{{compra.Total}}</td>
                  
                </tr>

                
              </tbody>
            </table>
           <br>
           <!--div *ngIf="selectTipo==1"class="input-group">
               <div class="input-group-prepend">
                 <span class="input-group-text">Contenido</span>
               </div>
               <textarea class="form-control"
               [(ngModel)]="contenido" rows="10" aria-label="With textarea"></textarea>
           </div--->


  
          <!--button type="submit" class="btn btn-primary btn-xl float-right" id="btnCrear" (click)="">Crear</button--->
            
          <!-- /.row -->
    
        </div>
      </section>
    
</div>
